body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #0B0F15;
    color: white;
}

.header {
    height: 100vh;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
}
.navskie{
    background: rgba(180, 142, 142, 0.15);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.075);
}
.carousel-item {
    margin-top: 20%;
}
.carousel-item h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
}

.carousel-item p {
    font-family: "Montserrat", sans-serif;
    color: white;
}
iframe {
    width: 150%;
    height: 300px;
    border: 0;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
    
.fade-in.show {
    opacity: 1;
}
.imgvincent {
    height: 85%;
    width: auto;
}
.companyname{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.companyname:hover{
  color: #ff00dd;
  cursor: pointer;
}
.infos{
    text-align: justify;
}
.websitesites{
  height: 974px;
  background-color: #ffffff;
}
